<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- For external Bluetooth thermal printers / cash drawers when we
         add the non-Sunmi driver. Required on Android 12+. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"
        tools:targetApi="31" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        tools:targetApi="31" />
    <!-- Bind to the Sunmi printer service. The SDK requires this. -->
    <queries>
        <package android:name="woyou.aidlservice.jiuiv5" />
    </queries>

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.GyaalePOS"
        android:usesCleartextTraffic="false"
        tools:targetApi="34">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="user"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
